{{#if products.length}}
{{#each products}}
<h2>Title: {{title}}</h2>
<p>id: {{id}}</p>
<p>description: {{description}}</p>
<p>code: {{code}}</p>
<p>price: {{price}}</p>
<p>status: {{status}}</p>
<p>category: {{category}}</p>
<p>thumbnail: {{thumbnail}}</p>
{{/each}}
<h2>No tienes productos Registrados</h2>
{{/if}}