<h2>addProduct.handlebars</h2>
<form action="/api/products" method="post" >
    title <input type="text" name="title" id="title" value="producto">
    description <input type="text" name="description" id="description" value="descripción producto">
    code <input type="text" name="code" id="code" value="codigo producto">
    price <input type="number" name="price" id="price" value="100">
    status <input type="checkbox" name="status" id="status" value="on">
    category <input type="text" name="category" id="category" value="categoría producto"> 
    thumbnails <input type="text" name="thumbnails" id="thumbnails" value="ruta imagen">
    <input type="submit" value="ADD">
</form>
<h2>realTimeProducts.handlebars</h2>
{{#if products.length}}
{{#each products}}
<h3>Title: {{title}}</h2>
<p>id: {{id}}</p>
<p>description: {{description}}</p>
<p>code: {{code}}</p>
<p>price: {{price}}</p>
<p>status: {{status}}</p>
<p>category: {{category}}</p>
<p>thumbnail: {{thumbnail}}</p>
{{/each}}

{{else}}
<h2>No tienes productos Registrados</h2>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>